<header class="blog-header">
    <div class="container">
        <div>
        <h1 class="blog-title">Daily Blog</h1>
        <p>New Blog Everyday</p>
        </div>
        <nav class="blog-nav">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="app-about">About</a></li>
                <li><a routerLink="app-subscribe">Subscribe</a></li>
                <li><a href="https://surbhit-14.github.io/portfolio/" target="_blank">Portfolio</a></li>
            </ul>
        </nav>
    </div>
</header>
